# dependencies
/node_modules

# production
/build
/dist

# run time tamp files
/dev/public/sw-proxy.js

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor files
.idea/*
.vscode
